<footer>
  <div class="f-main-links">
    <div>
      <h5>Support</h5>
      <a href="">Help Centre</a>
      <a href="">Maya Community</a>
      <a href="">Anti-discrimination</a>
      <a href="">Disability support</a>
      <a href="">Report community concern</a>
    </div>
    <div>
      <h5>Engagement</h5>
      <a href="">Join Maya</a>
      <a href="">Maya for Users</a>
      <a href="">Engagement resources</a>
      <a href="">Community forum</a>
      <a href="">Engage responsibly</a>
      <a href="">Join a free Engagement class</a>
    </div>
    <div>
      <h5>Maya</h5>
      <a href="">Newsroom </a>
      <a href="">New features</a>
      <a href="">Careers</a>
      <a href="">Investors</a>
    </div>
  </div>

  <div class="our-info">
    <div class="our-main-info-links">
        <p id="copy-right">Maya</p>
        <ul class="privacy-links-etc">
            <li>
                <a href="">Privacy</a>
            </li>
            <li>
              <a href="">Terms</a>
            </li>
            <li>
              <a href="">AboutUs</a>
            </li>
        </ul>
    </div>
    <div class="f-socail">
      <a href=""><i class="ri-twitter-fill"></i></a>
      <a href=""><i class="ri-github-fill"></i></a>
      <a href=""><i class="ri-linkedin-box-fill"></i></a>
      <a href=""><i class="ri-facebook-box-fill"></i></a>
    </div>

  </div>
</footer>



<script>
    let copyRight = document.getElementById("copy-right");
    copyRight.innerText = `© ${(new Date).getFullYear()} MAYA`;
</script>