* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    /* font-family: "Bebas Neue", sans-serif; */
    /* font-family: "Madimi One", sans-serif; */
    scroll-behavior: smooth;
    font-style: normal;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }
  li{
    list-style: none;
}
a{
    text-decoration: none;
    /* color: black; */
    cursor:pointer;
}
a:hover{
    color:black;
}
button{
    border: none;
    cursor:pointer;
}
.main-txt{
    color: #ff385c;
}

nav{
    border-bottom: 1px solid black;
    box-shadow: 2px 2px 10px black;
}

body{
    overflow-x: hidden;
}

.txt-cap{
    text-transform: capitalize;
}
#main-logo-par{
    /* border: 2px solid red; */
    color: #FF0000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.maya-logo{
    filter: invert(1);
}
#main-logo{
    width: 100%;
}

/* #main-logo{
    width: 3.5rem;
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#main-logo:hover{
    animation: none;
} */
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* navbar */

#navbar-par{
    background-color: white !important;
}
.create-new{
    animation: glow 2s 1;
}
@keyframes glow {
    0%{
        background-color: white;
    }
    50%{
        border-radius: 3rem;
        background-color: #ff385c;
    }
    100%{
        background-color: #ff385c;
    }
}
.nav-link{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: black !important;
    padding: 5px 1rem;
}
.nav-link:hover{
    background-color: rgb(71, 69, 69);
    color: white !important;
    border-radius: 3rem;
}
.fa-compass{
    color: rgb(245, 56, 112);
    font-size: 2.5rem;
}


@media(width<=990px){

.nav-link{
    padding: 5px 1rem;
}
#sign-up{
    display: block;
    width: 100%;
}
}




/* Footer */
footer{
    margin-top: 7rem;
    border-top: 2px solid #686565;
    background-color:#f7f7f7;
    padding: 2.5rem 2rem 0;
    font-size: 1rem;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: black;
    text-decoration: underline;
}
footer li{
    list-style: none;
}
footer > * {
    padding: 2rem 2rem 3rem;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    column-gap: 1rem;
    row-gap: 1.5rem;
    /* justify-content: space-around; */
}
.f-main-links{
    border-bottom: 2px solid #686565;
}
.f-main-links > div{
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.our-info{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
    text-align: center;
}
.our-info > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.privacy-links-etc{
    display: flex;
    column-gap: 1rem;
}


footer div.f-socail{
    flex-wrap: nowrap;
}
.f-socail i{
    font-size: 1.5rem;
    margin-left:1rem ;
}


@media(width<=900px){
    .our-info{
        justify-content: space-evenly;
    }
}

@media(width<=750px){
    .f-main-links > div{
        width: 100%;
        border-bottom: 2px solid #686565;
        padding-bottom: 1rem;
    }
}

@media(width<=500px){

    .our-main-info-links ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .our-main-info-links ul li{
        width: 30%;
    }
    .our-main-info-links ul li a{
        width: 100%;
    }
}

@media(width<=470px){
    .our-main-info-links ul li{
        width: 100%;
    }
}




/* For FLash Messages */
.fade{
    text-align: center;
}

.user-in-out{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */


/* form related */

label{
    font-size: 1.3rem;
    font-weight: 500;
}

@media(width<=350px){
    form{
        padding: 5px 10px !important;
    }
}


.green-btn-adv {
    display: block;
    margin: 2vw auto;
    border: none;
    border-radius: 3rem;
    padding: 0.3rem 3rem;
    color: white;
    font-size: 1.3rem;
    background-color: #ff385c;
    width: fit-content;
  }
  @media(width<=800px){
    .green-btn-adv{
        padding: .2rem 3rem;
      }
  }
  @media(width<=550px){
    .green-btn-adv{
        padding: .2rem 2rem;
        font-size: 1.1rem;
      }
  }
  
