
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maya | Share Your World: Images, Stories, and More</title>
    <%- include("../includes/head.ejs") %>

    <style>
        #navbar-par{
    background-color: black !important;
}
#navbar-par *{
    color: white !important;
}
.mein{
    color:#ff385c;
}
        main{
            padding-inline: 6%;
            margin-top: 2.5rem;
            /* margin-bottom: 2rem; */
            /* padding-bottom: 5rem; */
        }

        #sec-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .title-hook{
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
            word-spacing: 5px;
            letter-spacing: 2px;
            font-size: 3.5rem;
            font-weight: bold;
            color: #ff385c;
        }

        .setup-intro{
            margin-top: 1rem;
        }
        .setup-intro img{
            width: 100vw;
            object-fit: cover;
            /* height: 30vw; */
        }

        #sec-2{
            margin-top: 7rem;
        }
        #sec-2 .title-hook{
            text-align: left;
        }
        .setup-steps{
          margin-top: 1rem;
        }


        #sec-3{
            margin-top: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #sec-3 .title-hook{
            text-align: center;
            word-spacing: 0px;
            letter-spacing: 0px;
            margin-bottom: 0;
            line-height: 2.6rem;
            height: fit-content;
        }
        #sec-3 .title-hook + p{
            text-align: center;
            margin-top: 0;
            line-height: 1;
            font-family: 1.3rem;
            font-weight: bold;
        }
        #cover{
            color: black;
        }
        .protection-part h2{
            text-align: center;
        }

        .our-protections{
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .our-protections > div{
            width: 100%;
            display: flex;
            /* border: 2px solid red; */
            padding: .5rem 0;
            border-bottom: 2px solid rgb(80, 78, 78);
        }
        .our-protections > div > div{
            text-align: center;
            width: 8%;
            flex-grow: 1;
        }
        .our-protections > div > div p{
            margin-top: 1.5rem;
        }
        .our-protections > div > div > i{
            font-size: 2.2rem;
        }
        .our-protections > div > div:nth-child(1){
            flex-grow: 5;
            text-align: left;
        }

        .our-vs-other{
            text-align: center;
            font-size: 1.5rem;
        }

        #sec-4{
            margin-top: 8rem;
            display: flex;
            flex-wrap: wrap;
            background-color: #f7f7f7;
            padding: 3rem 2rem;
        }
        #sec-4 > div{
            width: 50%;
            /* border: 2px solid red;    */
        }
        .sec-4-title{
            font-weight: bold;
        }
        .ques{
            padding-right: 1rem;
            display: flex;
            justify-content: space-between;
        }
        .ques i{
            font-size: 1.8rem;
        }
        .ans{
            height: 0;
            overflow: hidden;
            transition: all 2s;
        }
        .get-ans{
            transition: all 2s;
            height: auto;
        }
        .qna{
            padding: .5rem 0;
            margin-bottom: 1rem;
            border-bottom: 2px solid black;
        }

        .sec-5{
            margin-top: 0;
            background-color: #f7f7f7;
            padding: 2rem 3rem 5rem;
        }        
        .still-ques{
            background-color: white;
            display: flex;
        }
        .still-ques > *{
            width: 50%;
        }
        .still-ques img{
            height: 25rem;
            object-fit: contain;
        }

        .contact-us{
            padding: 3rem 0;
        }
        .contact-us a{
            text-decoration: none;
            /* color: white; */
        }
        .contact-us > div{
            /* background-color: #fa284f; */
            width: fit-content;
            font-size: 1.2rem;
            padding: .4rem;
            /* color: white; */
            font-weight: bold;
        }





        /* Responsive */

        @media(width<=900px){
            .our-vs-other{
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }
            .our-protections{
            margin-top: 2.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .our-protections > div{
            width: 100%;
            display: flex;
            /* border: 2px solid red; */
            padding: .5rem 0;
            border-bottom: 2px solid rgb(80, 78, 78);
        }
        .our-protections > div > div{
            text-align: center;
            width: 15%;
            flex-grow: 1;
        }
        .our-protections > div > div p{
            margin-top: 1.5rem;
        }
        .our-protections > div > div > i{
            font-size: 2.2rem;
        }
        .our-protections > div > div:nth-child(1){
            flex-grow: 5;
            text-align: left;
        }


        .sec-5{
            margin-top: 0;
            background-color: #f7f7f7;
            padding: 2rem 2rem 5rem;
        }        
        .still-ques{
            background-color: white;
            display: flex;
            flex-wrap: wrap;
        }
        .still-ques > *{
            width: 100%;
        }
        .still-ques img{
            width: 100%;
            /* height: 25rem; */
            object-fit: cover;
        }

        .contact-us{
            /* border: 2px solid red; */
            text-align: center;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .contact-us a{
            text-decoration: none;
            /* color: white; */
        }
        .contact-us > div{
            /* background-color: #fa284f; */
            width: fit-content;
            font-size: 1.2rem;
            padding: .4rem;
            /* color: white; */
            font-weight: bold;
        }

        }

        @media(width<=800px){
            .title-hook{
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
            word-spacing: 5px;
            letter-spacing: 2px;
            font-size: 3rem;
            font-weight: bold;
            color: #ff385c;
        }
        .setup-intro img{
            width: 100vw;
            object-fit: cover;
            height: 40vw;
        }
        }

        @media(width<=700px){
            #sec-4 > div{
            width: 100%;
            /* border: 2px solid red;    */
        }
        }

        @media(width<=650px){
            
        .setup-intro img{
            width: 100vw;
            object-fit: cover;
            height: 55vw;
        }
        }
        @media(width<=600px){
            .our-protections > div > div{
            text-align: center;
            width: 22%;
            flex-grow: 1;
        }
        }
        @media(width<=550px){
            
        .setup-intro img{
            width: 100vw;
            object-fit: cover;
            height: 65vw;
        }
        .title-hook{
            font-size: 2.7rem;
        }
        #sec-3{
            margin-top: 8rem;
            display: flex;
            flex-direction: column;
            /* justify-content:start; */
            align-items: start;
        }
   
        .protection-part h2{
            text-align: left;
        }
        #sec-3 .title-hook{
            text-align: left;
        }
        #sec-3 .title-hook + p{
            text-align: left;
        }

        .sec-5{
            padding: 2rem 1rem 4rem;
        }        

    }


        @media(width<=500px){
            .our-protections > div > div{
            text-align: center;
            width: 25%;
            flex-grow: 1;
        }
        .our-vs-other{
            font-size: 1rem;
            font-weight: 600;
        }
        .our-protections > div > div{
            text-align: center;
            width: 30%;
            flex-grow: 1;
        }
        .our-protections > div > div h3{
            font-size: 1.5rem;
        }
        .our-protections > div > div p{
            margin-top: 1rem;
        }

        #sec-5 *{
            font-size: 1rem;
        }
        #sec-5 h3{
            font-size: 1.5rem;
        }
        }


        
        
        @media(width<=450px){
            
        .setup-intro img{
            width: 100vw;
            object-fit: cover;
            height: 80vw;
        }
        .setup-steps h4{
            font-size: 1.4rem;
        }
        .setup-steps h4 + p{
            font-size: .95rem;
        }
        .title-hook{
            font-size: 2.4rem;
        }



        .our-protections > div > div h3{
            font-size: 1rem;
        }
        
        .our-protections > div > div > i{
            font-size: 1.5rem;
        }
        .our-protections > div > div p{
            display: none;
        }
        .our-vs-other{
            text-align: center;
            font-size: .9rem;
        }
        }


        @media(width<=370px){
            
        .setup-intro img{
            width: 100vw;
            object-fit: cover;
            height: 95vw;
        }
        .sec-5{
            padding: 2rem .5rem 3rem;
        }        
        }
        @media(width<330px){
            .our-protections > div > div{
            width: 33%;
        }
        }

        #navbar-par{
    display: flex;
    flex-wrap: wrap;
}

.navbar-toggler-icon{
    display: block;
    color: white !important;
    background-color: white !important;
}
       
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-par">
        <a class="navbar-brand" href="/" id="main-logo-par">
          <!-- <i class="fa-regular fa-compass"></i> -->
        <img src="/img/maya.jpg" alt="" srcset="" id="main-logo" class="maya-logo">
        <!-- <h4>Columbus</h4> -->
        </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- <a class="nav-item nav-link " href="/">Home <span class="sr-only">(current)</span></a> -->
              <a class="nav-item nav-link" href="/listings">Show Posts</a>
              <% if (currUser) { %>
                <a class="nav-item nav-link" href="/listings/new">Create New Posts</a>
              <% } %>
            </div>
            <div class="user-in-out navbar-nav">
                <% if (!currUser) { %>
                    <a class="nav-item nav-link" href="/signup" id="sign-up">Sign Up</a>
                    <!-- <a class="nav-item nav-link" href="/login">Log In</a> -->
                <% } else { %>
                  <!-- <a class="nav-item nav-link" href="/logout">Log Out</a> -->
                  <a class="nav-item nav-link" href="/user/profile/<%= currUser._id %>">
                    <!-- <i class="fa-solid fa-user fa-xl" style="color: #ff385c;"></i> -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255, 56, 92,1)"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13Z"></path></svg>
                  </a>
                <% } %>
            </div>
        </div>
      </nav>
 
    
    <main>
        <section class="sec" id="sec-1">
            <div class="">
                <h1 class="title-hook">Maya Moments!</h1>
                <h1 class="title-hook">Connect with Maya and Mayavi People's</h1>
            </div>
            <div class="setup-intro">
                <img src="https://enwpgo.wordpress.com/wp-content/uploads/2023/08/online-community-header.jpg" alt="">
            </div>
        </section>

        <section class="sec" id="sec-2">
            <div>
                <h1 class="title-hook">Share Your Favorite Spots Effortlessly with Maya Set-Up</h1>
            </div>
            <div class="setup-steps">
                <div>
                    <h4>Freedom to Share, Explore with Maya</h4>
                    <p>Embrace the freedom to share your genuine experiences and highlight your beloved spots worldwide. Whether it's a quaint café or your own cherished space, Maya encourages you to connect, discover, and share your adventures with the global community.</p>
                </div>
                <div>
                    <h4>Share with Maya: Review with Freedom, Share with Passion</h4>
                    <p>Express your thoughts freely and share your favorite spots passionately with Maya. Whether you're leaving heartfelt reviews or inviting others to explore your treasured places, Maya empowers you to review with freedom and share your world with boundless enthusiasm.</p>
                </div>
                <div>
                    <h4>Express Yourself, Share Your World with Maya</h4>
                    <p>Let your voice be heard as you freely post reviews and share the essence of your space with the world on Maya. Whether you're uncovering hidden gems or inviting others to experience your unique place, Maya empowers you to express yourself and share your story with the globe.</p>
                </div>
            </div>
        </section>

        <section class="sec" id="sec-3">
            <div>
                <div class="title-hook">MAYA</div>
                <p>For World</p>
            </div>

            <div class="protection-part">
                <h2>MAYA Hai To <span class="mein">Mein</span> Hu</h2>
                <div class="our-protections">
                    <div class="our-vs-other">
                        <div></div>
                        <div>MAYA</div>
                        <div>Competitors</div>
                    </div>
                    <div>
                        <div>
                            <h3>FREE To Use</h3>
                            <p>
                                Experience the freedom to explore and express yourself on Maya. Our platform is free to use, allowing you to connect with others, share your passions, and discover new horizons without any constraints. Join Maya today and unleash your creativity without limits.</p>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                    </div>
                    <div>
                        <div>
                            <h3>Identity verification</h3>
                            <p>Our comprehensive verification system checks details such as name, address, government ID and more to confirm the identity of Users who create account on MAYA.</p>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255,0,0,1)"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg> </div>
                    </div>
                    <div>
                        <div>
                            <h3>Damage protection</h3>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255,0,0,1)"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg> </div>
                    </div>
                    <div>
                        <div>
                            <h3>Art & valuables</h3>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255,0,0,1)"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg> </div>
                    </div>
                    <div>
                        <div>
                            <h3>Equal Opportunities</h3>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255,0,0,1)"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg> </div>
                    </div>
                    <div>
                        <div>
                            <h3>Lovable content</h3>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255,0,0,1)"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg> </div>
                    </div>
                    <div>
                        <div>
                            <h3>No User Tracking</h3>
                        </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(0,255,0,1)"><path d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path></svg> </div>
                        <div> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40" fill="rgba(255,0,0,1)"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg> </div>
                    </div>
            </div>
        </section>

        <section class="sec" id="sec-4">
            <div>
                <h1 class="sec-4-title">Your Inquiries, Addressed</h1>
            </div>
            <div id="all-questions">
                <div class="qna">
                    <div class="ques">
                        <h4>Is MAYA suitable for me?</h4>
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <p class="ans">"Maya Welcomes All! Find Your Perfect Fit."
                        Maya is designed for everyone, offering a diverse range of content and experiences. Whether you're into art, food, travel, or anything in between, Maya has something for you. From cozy cafes to breathtaking landscapes, Maya celebrates the beauty of every corner of the world.
                    </p>
                </div>
                <div class="qna">
                    <div class="ques">
                        <h4>Do I need to be active all the time?</h4>
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <p class="ans">Not necessarily – you have the flexibility to engage at your own pace. Whether it's occasionally, sporadically, or regularly, it's up to you.
                    </p>
                </div>
                <div class="qna">
                    <div class="ques">
                        <h4>How often should I engage with users?</h4>
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <p class="ans">The choice is yours. Some users opt for occasional interactions, such as sending a brief message upon joining, while others enjoy more personal connections. Discover the approach that suits both you and your followers best.
                    </p>
                    
                </div>
                <div class="qna">
                    <div class="ques">
                        <h4>How involved should I be with the community?</h4>
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <p class="ans">Your involvement can vary based on your preferences. Some members choose to participate in discussions occasionally, while others enjoy active engagement. Discover the level of interaction that aligns with your interests and schedule.
                    </p>                    
                </div>
                <div class="qna">
                    <div class="ques">
                        <h4>Any pointers for excelling as a Maya user?</h4>
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                    <p class="ans">Mastering the basics can elevate your experience. Keep your interactions respectful, engage with others promptly, and explore various features to enrich your journey. While some users enjoy adding personal touches like unique posts or sharing local insights, it's entirely optional.
                    </p>                    
                </div>
            </div>
        </section>

        <section class="sec sec-5" id="sec-5">
                <div class="still-ques">
                    <img src="https://a0.muscache.com/im/pictures/f1879cc3-6fbe-4285-8e61-44a814dd7fb8.jpg?im_w=1200&im_q=highq" alt="">
                <div class="contact-us">
                    <h3>Still have questions?</h3>
                    <p>Get answers from an experienced Superhost near you.</p>
                    <div>
                        Contact Us: <a href="mailto:help@maya.com">help@maya.com</a>
                    </div>
                </div>
                </div>
        </section>
    </main>


    <%-include("../includes/footer") %>



    <script>
        let ques = document.getElementsByClassName("ques");

        for(let i=0;i<ques.length;i++){
            ques[i].addEventListener("click",(e)=>{
                ques[i].nextElementSibling.classList.toggle("get-ans");
                if(ques[i].children[1].classList.contains("ri-arrow-up-s-line")){
                    ques[i].children[1].setAttribute("class","ri-arrow-down-s-line");
                }
                else{
                    ques[i].children[1].setAttribute("class","ri-arrow-up-s-line");
                }
            })
        }
    </script>
</body>
</html>
